body {
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    background-color: #163A24;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contener {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.actions{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 590px;
    gap: 24px;
}
.login {
    color: white;
}
.phone {
    color: white;
}
.start {
    height: 52px;
    width: 141px;
    background-color: #198C36;
    color: white;
    border: none;
    border-radius: 25px;
}
.heroTitle
{height: 196px;
left: 0%;
right: 20.47%;
top: 0px;
font-family: 'Recoleta';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 65px;
color: #FBFAF7;}
.heroImg {
width: 580px;
}

