body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    background-color: #163A24;
    display: flex;
    justify-content: center;

}

.contener {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
